<div class="inspector-container" [class.empty-ispector]="!selectedCard()">
    @if (!selectedCard()) {
    <span class="material-symbols-rounded">trackpad_input</span>
    <p i18n>Select a card from the grid to inspect detail and actions.</p>
    } @else {
    <section>
        @let c = card();
        <div class="inspector-header">
            <div class="code-container">{{c?.code}}</div>
            <div class="set-label">{{c?.pack_code | packCode: packs()}} #{{c?.position}}</div>
        </div>
        @if(c?.type_code === 'identity') {
        <div class="identity-container identity-item">
            <!-- @if (c?.uniqueness) {
            <span title="unique" class="material-symbols-rounded">stat_0</span>
            } -->
            <p class="section-title">{{c?.title!.split(':')[0]}}</p>
            <hr>
            <p class="identity-subtitle">{{c?.title!.split(':')[1]}}</p>
        </div>
        } @else {
        <div class="identity-container">
            <!-- @if (c?.uniqueness) {
            <span class="material-symbols-rounded">stat_0</span>
            } -->
            <p class="section-title">{{c?.title}}</p>
        </div>
        }
        <div class="icons-container">
            @if (c?.uniqueness) {
                <span i18n-title="@@uniquenessTooltipText" title="Unique" class="material-symbols-rounded">stat_0</span>
            }
            @if (c?.base_link || c?.base_link === 0) {
                <p>{{c?.base_link}} <span i18n-title="@@baseLinkTooltipText" title="Base link" class="nr-icon nr-link"></span></p>
            }
            @if (c?.cost || c?.cost === 0) {
                <p i18n>{{c?.cost}}<span i18n-title="@@costTooltipText" title="Cost" class="nr-icon nr-credit"></span></p>
            }
            @if (c?.memory_cost || c?.memory_cost === 0) {
                <p i18n>{{c?.memory_cost}} <span i18n-title="@@memoryCostTooltipText" title="Memory Cost" class="nr-icon nr-mu"></span></p>
            }
            @if (c?.strength || c?.strength === 0) {
                <p i18n>Strength: {{c?.strength}}</p>
            }
        </div>
        <p i18n="@@cardTypeLabel" class="section-label">Type</p>
        <p>
            <span class="type-label">{{c?.type_code! | typeLabel}}</span>@if (c?.keywords) {: {{c?.keywords}}}
        </p>
        <!-- <p class="section-subtitle">Info</p> -->
        
        @if (c?.minimum_deck_size && c?.minimum_deck_size! > 0) {
        <p i18n>Minimum deck size: {{c?.minimum_deck_size}}</p>
        }
        @if (c?.influence_limit && c?.influence_limit! > 0) {
        <p i18n>Influence limit: {{c?.influence_limit}}</p>
        }
        @if (c?.influence_limit === null) {
            <p i18n>No influence limit</p>
        }
        <div class="effect-container">
            <p i18n class="section-subtitle effect-subtitle">Effect</p>
            <div class="card-text" [innerHTML]="c?.text | nrIcons">
            </div>
            <div class="flavor-text">{{c?.flavor}}</div>
        </div>
        @if (c?.faction_cost && c?.faction_cost! > 0) {
        <p i18n class="section-label">Influence cost</p>
        <div class="faction-influence-container">
            <img [src]="'images/faction-icons/' + c?.faction_code+ '.svg'" alt="">
            @for(fi of factionCostArray; track $index) {
            @if (fi) {
            <span class="material-symbols-rounded">circle</span>
            } @else {
            <span class="material-symbols-rounded no-fill-icon">circle</span>
            }
            }
        </div>
        }
        <!-- @if (c?.side_code) {
        <p i18n>Side: {{c?.side_code}}</p>
        } -->
        <p i18n class="section-label">Side</p>
        <div class="side-container">
            <div class="side-item" [class.selected-side]="c?.side_code === 'corp'">Corp</div>
            <div class="side-item" [class.selected-side]="c?.side_code === 'runner'">Runner</div>
        </div>
        <p class="section-subtitle">Meta</p>
        @if (c?.deck_limit && c?.deck_limit! > 0) {
        <p i18n>Deck limit: {{c?.deck_limit}}</p>
        }
        @if (c?.quantity && c?.quantity! > 0) {
        <p i18n>Quantity per set: {{c?.quantity}}</p>
        }
        <p i18n class="section-subtitle">Illustrator</p>
        <p>{{c?.illustrator || '-'}}</p>
    </section>
    }
    <div class="actions-container">
        @if (selectedCard()) {
        <app-ui-button i18n-text text="Focus" icon="recenter" size="small" (click)="scrollToSelected()"></app-ui-button>
        <app-ui-button i18n-text text="Zoom" icon="search" size="small" (click)="zoomCard()"></app-ui-button>
        @if (selectedCard()?.translations && !selectedCard()?.translations?.[locale]?.approved && firebase.$user() && firebase.$user()?.role === 'admin') {
            <!-- "Gestisci" visibile se sono presenti traduzioni non approvate nel locale attuale e utente autenticato è 'admin' -->
            <app-ui-button i18n-text text="Approve" icon="translate" size="small" (click)="openConfirmTranslation()"></app-ui-button>
        } @else {
            <!-- "Traduci" visibile se non sono presenti traduzioni nel locale attuale, disabilitato se è già stato tradotto o se guest connesso " -->
            <app-ui-button i18n-text text="Translate" icon="translate" [disabled]="!firebase.$user() || !!(selectedCard()?.translations?.[locale]?.approved)" (click)="openTranslateDialog()" size="small"></app-ui-button>
        }
    }
    </div>
</div>