:host {
    height: 100%;
    min-height: 0; // 🔥 QUESTO È IL PEZZO MANCANTE
    display: flex;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--fg-color);
    text-transform: uppercase;
}

.inspector-container {
    border: 1px solid var(--accent-color);
    background-color: var(--bg-container-color);
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    position: relative;

    section {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-grow: 1;
    }

    // .actions-container {
    //     width: 100%;
    //     position: sticky;
    //     background-color: var(--bg-container-color);
    //     bottom: 0;
    //     left: 0;
    //     padding: 8px;
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     gap: 4px;
    // }

    &>.card-menu-button {
        position: sticky;
        bottom: 0;
        padding: 8px 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-container-color);
        border-top: 1px solid var(--accent-color);

        &>.actions-icons {
            display: flex;
            align-items: center;
            gap: 12px;

            &>.material-symbols-rounded {
                // font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}



.inspector-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .side-label {
        text-transform: uppercase;
        font-weight: bold;
        color: var(--accent-color);
    }
}

.empty-ispector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
}

.section-subtitle {
    text-decoration: underline;
}

.effect-subtitle {
    background-color: var(--accent-color);
    width: 100%;
    color: var(--bg-container-color);
    text-decoration: none;
    padding: 4px 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.identity-container {
    display: flex;
    align-items: center;

    .material-symbols-rounded {
        cursor: default;
    }

    .card-cost {
        font-size: 1.5rem;
    }

    .strength-container {
        border: 1px solid var(--fg-color);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 48px;
        width: 48px;
        cursor: default;
        user-select: none;

        &>.strength-label {
            background-color: var(--fg-color);
            color: var(--bg-container-color);
            width: 100%;
            text-align: center;
        }

        &>.strength-value {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.ice-header {
    display: grid;
    grid-template-columns: 1fr 48px;
}

.identity-item {
    flex-direction: column;
    align-items: normal;
    width: 100%;

    hr {
        width: 100%;
        color: var(--accent-color);
    }
}

.type-label {
    text-transform: uppercase;
    font-weight: bold;
}

.effect-container {
    // border-left: 3px solid var(--accent-color);
    // padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;

    &>hr {
        width: 100%;
        border: none;
        border-top: 1px solid var(--accent-color);
        margin: 0;
        opacity: .5;
    }

    &>.card-text {
        line-height: 1.5;
        white-space: pre-wrap;

    }

    &>.flavor-text {
        font-style: italic;
        opacity: .7;
        white-space: pre-wrap;
        padding-bottom: 16px;
    }
}



.faction-influence-container {
    display: flex;
    align-items: center;
    gap: 4px;

    &>img {
        height: 24px;
        width: 24px;
    }

    &>.material-symbols-rounded {
        font-size: 1rem;
    }
}

.identity-subtitle {
    color: var(--accent-color);
    font-style: italic;
    padding-bottom: 12px;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .material-symbols-rounded {
        font-size: 1.5rem;
        cursor: default;
    }

    p {
        font-size: 1.5rem;
    }

    .faction-icon {
        height: 32px;
        width: 32px;
    }

    .deck-container {
        display: flex;
        border: 1px solid var(--accent-color);
        align-items: center;
        // height: 32px;

        .deck-item {
            padding: 4px 8px;
            text-align: center;
        }

        .influence-limit {
            background-color: var(--accent-color);
            color: var(--bg-container-color);
        }
    }
}

.section-label {
    text-transform: uppercase;
    font-size: .8rem;
}

.side-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    border: 1px solid var(--accent-color);

    .side-item {
        padding: 4px 8px;
        text-transform: uppercase;
        text-align: center;
        opacity: .3;
    }

    .selected-side {
        background-color: var(--accent-color);
        color: var(--bg-container-color);
        width: 100%;
        opacity: 1;
        font-weight: bold;

    }
}

.unique-icon {
    font-size: 1.2rem;
    cursor: default;
}