.home-page-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 100%;
    width: 100%;
    padding: 16px;
}

.welcome-container {
    width: 80%;
    height: 60%;
    max-width: 600px;
    border: 1px solid var(--accent-color);
    display: flex;
    background-color: var(--bg-container-color);
    position: relative;

    .side-line {
        width: 20px;
        background-color: var(--accent-color);
        height: 100%;
        background: repeating-linear-gradient(to right,
                var(--accent-color) 1px,
                var(--accent-color) 1px,
                transparent 4px,
                transparent 4px)
    }

    .content {
        flex: 1;
        width: calc(100% - 16px);
        padding: 16px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-y: auto;

        &>.disclaimer {
            font-size: 0.75rem;
            opacity: .9;
        }
    }
}

.menu-container {
    width: 100%;
    height: 200px;
    min-height: 300px;
    max-width: 250px;
    border: 1px solid var(--accent-color);
    display: flex;
    background-color: var(--bg-container-color);
    position: relative;

    .side-line {
        width: 20px;
        background-color: var(--accent-color);
        height: 100%;
        background: repeating-linear-gradient(to right,
                var(--accent-color) 1px,
                var(--accent-color) 1px,
                transparent 4px,
                transparent 4px)
    }

    .content {
        flex: 1;
        // width: calc(100% - 16px);
        padding: 16px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &>.version {
            font-size: 0.75rem;
            opacity: .9;
            position: absolute;
            bottom: 8px;
            right: 24px;
        }
    }
}