.header-main-container {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: var(--bg-container-color);
    padding: 0 16px;
    position: relative;

    .logo {
        width: 24px;
        height: 24px;
    }
}

.page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}