.header-main-container {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: var(--bg-container-color);
    padding: 0 16px;
    position: relative;

    .logo {
        width: 24px;
        height: 24px;
        cursor: pointer;
        
        &:hover {
            animation: scaleUp .3s forwards
        }
    }
}

.page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

app-theme-toggle:hover {
    animation: scaleUp .3s forwards
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}