.decks-page-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    &>.router-outlet-container {
        width: 100%;
        height: 100%;
        max-width: 1200px;
    }
}