.ui-standard-btn {
    border: 1px solid var(--accent-color);
    color: var(--fg-color);
    background-color: var(--bg-container-color);
    text-transform: uppercase;
    padding: 8px 16px;
    font-size: 1rem;
    width: 100%;

    &:hover {
        background-color: var(--accent-color);
        color: var(--bg-color);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    &:disabled {
        background-color: var(--bg-container-color);
        color: var(--fg-color);
        border-color: var(--fg-color);
        cursor: not-allowed;
        opacity: 0.3;
    }
}

.icon-button {
    display: flex; 
    align-items: center; 
    gap: 8px;
}

.small {
    padding: 2px 8px;
    font-size: .7rem;

    .material-symbols-rounded {
        font-size: 1rem;
    }
}