.cards-page-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    &>.filter-container {
        border: 1px solid var(--accent-color);
        background-color: var(--bg-container-color);
        height: 50px;
        flex-shrink: 0;
        margin-bottom: 16px;
        position: relative;
        width: 100%;
        max-width: 1200px;
    }

    &>.content-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        flex-grow: 1;
        gap: 16px;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        overflow: hidden;

        &>div {
            border: 1px solid var(--accent-color);
            background-color: var(--bg-container-color);
            position: relative;
        }

        &>.cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 16px;
            padding: 16px;
            height: 100%;
            overflow-y: auto;

            &>.card-item {
                width: 100%;
                aspect-ratio: 2/3;
                background-color: var(--bg-container-color);
                // border: 1px solid var(--accent-color);

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }
    }
}

.side-line {
    width: 20px;
    background-color: var(--accent-color);
    height: 100%;
    background: repeating-linear-gradient(to right,
            var(--accent-color) 1px,
            var(--accent-color) 1px,
            transparent 4px,
            transparent 4px)
}