.cards-page-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    &>.filter-container {
        border: 1px solid var(--accent-color);
        background-color: var(--bg-container-color);
        height: 50px;
        flex-shrink: 0;
        margin-bottom: 16px;
        position: relative;
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding-right: 16px;

        &>.line-divider {
            border-left: 1px solid var(--accent-color);
            height: 80%;
            opacity: .5;
        }
    }

    &>.content-container {
        display: grid;
        grid-template-columns: 2fr 300px;
        flex-grow: 1;
        gap: 16px;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        overflow: hidden;
        position: relative;

        &>div {
            border: 1px solid var(--accent-color);
            background-color: var(--bg-container-color);
        }

        &>.attribution-container {
            position: absolute;
            bottom: 4px;
            left: 4px;
            border: 1px solid var(--accent-color);
            text-transform: uppercase;
            background-color: var(--bg-container-color);
            padding: 4px 8px;
            color: var(--text-secondary-color);
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 4px;
            font-size: .7rem;
            z-index: 2;

            &>.attribution-text {
                flex-grow: 1;
                text-align: left;

                &>a {
                    color: var(--fg-color);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            &>.material-symbols-rounded {
                font-size: 1rem;
            }
        }

        &>.action-controls {
            position: absolute;
            top: 4px;
            left: 4px;
            border: 1px solid var(--accent-color);
            display: flex;
            gap: 12px;
            user-select: none;
            font-size: .8rem;
            padding: 4px 8px;
            background-color: var(--bg-container-color);
            z-index: 2;

            &>.control-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 4px;
                cursor: pointer;

                &>.material-symbols-rounded {
                    font-size: 1rem;
                }
            }
        }


        &>.cards-container {
            display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 16px;
            padding: 16px;
            height: 100%;
            overflow-y: auto;
            padding-top: 40px;

            &>.card-item {
                width: 100%;
                aspect-ratio: 2/3;
                background-color: var(--bg-container-color);
                border: 1px solid var(--accent-color);
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                transition:
                    filter 150ms ease,
                    opacity 150ms ease,
                    box-shadow 150ms ease,
                    transform 150ms ease;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            &>:hover {
                transform: scale(1.03);
                transition: transform 0.5s;
            }

            &>.selected-card {
                filter: saturate(1.15) contrast(1.05);
                box-shadow: 0 0 6px var(--accent-color);
                z-index: 1;
            }

            &>.not-selected-card {
                opacity: 0.5;
                filter: saturate(0.5);
            }
        }

        .small-size {
            grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
        }

        .standard-size {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        }

        .medium-size {
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        }

        .large-size {
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        }
    }
}

.side-line {
    width: 20px;
    background-color: var(--accent-color);
    height: 100%;
    background: repeating-linear-gradient(to right,
            var(--accent-color) 1px,
            var(--accent-color) 1px,
            transparent 4px,
            transparent 4px)
}

input[type="text"] {
    flex-grow: 1;
    padding: 4px 8px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    height: 32px;

    &::placeholder {
        color: var(--text-secondary-color);
    }
}

select {
    width: 100px;
    padding: 4px 8px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    height: 32px;
    cursor: pointer;
}

.reset-icon {
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    padding: 4px;
    border-radius: 4px;
    color: var(--accent-color);
    height: 24px;
    width: 24px;
    align-self: self-start;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>.material-symbols-rounded {
        font-size: 1.2rem;
    }

    &:hover {
        background-color: var(--accent-color);
        color: var(--bg-color);
        transition: background-color 0.3s, color 0.3s;
    }
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--fg-color);
    text-transform: uppercase;
}

.inspector-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;

    position: relative;

    .actions-container {
        width: 100%;
        position: sticky;
        bottom: 0;
        left: 4px;
        display: flex;
        gap: 4px;
    }
}

.inspector-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty-ispector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-subtitle {
    text-decoration: underline;
}

.identity-container {
    display: flex;
    align-items: center;

    .material-symbols-rounded {
        cursor: default;
    }

    .card-cost {
        font-size: 1.5rem;
    }
}

.identity-item {
    flex-direction: column;
    align-items: normal;
    width: 100%;

    hr {
        width: 100%;
        color: var(--accent-color);
    }
}

.type-label {
    text-transform: uppercase;
    font-weight: bold;
}

.effect-container {
    border-left: 3px solid var(--accent-color);
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-text {
    line-height: 1.5;
}

.flavor-text {
    font-style: italic;
    opacity: .7;
}

.zoom-card-container {
    position: absolute;
    top: 30%;
    left: 3%;
    border: 1px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    z-index: 3;
    opacity: 0;
    animation: fadeIn .3s forwards;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);

    &>.zoom-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--bg-color);
        padding: 0 4px;
        text-transform: uppercase;

        &>p {
            margin-left: 8px;
            font-weight: bold;
        }

        &>.material-symbols-rounded {
            cursor: pointer;
        }
    }

    &>.zoom-card-image {
        display: flex;
        background-color: var(--bg-color);
        padding: 4px;

        img {
            border: 1px solid var(--accent-color);
            border-radius: 16px;
        }
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.faction-influence-container {
    display: flex;
    align-items: center;
    gap: 4px;

    &>img {
        height: 24px;
        width: 24px;
    }

    &>.material-symbols-rounded {
        font-size: 1rem;
    }
}