<div class="cards-page-main-container">
    <div class="filter-container">
        <div class="side-line"></div>
        <p class="section-title">Filters</p>
        <input type="text" placeholder="Search text..." (keyup)="onChangeTextSearch($event)">
        <div class="line-divider"></div>
        <p>Game</p>
        @if (factions.length > 0) {
        <select name="faction" id="faction-select" [(ngModel)]="filters.faction"
            (change)="onChangeFactionFilter($event)">
            <option value="all">All Factions</option>
            @for(faction of factions; track faction.code) {
            <option [value]="faction.code">{{ faction.name }}</option>
            }
        </select>
        }
        @if (sides.length > 0) {
        <select name="side" id="side-select" [(ngModel)]="filters.side" (change)="onChangeSideFilter($event)">
            <option value="all">All Sides</option>
            @for(side of sides; track side.code) {
            <option [value]="side.code">{{ side.name }}</option>
            }
        </select>
        }
        <div class="line-divider"></div>
        <p>Meta</p>
        @if(this.cycles.length > 0 && this.packs.length > 0) {
        <select name="pack" id="pack-select" [(ngModel)]="filters.pack" (change)="onChangePackFilter($event)">
            <option value="all">All packs</option>

            @for(cycle of cycles; track cycle.code) {
            <optgroup [label]="cycle.name">
                @for (pack of packs; track pack.code) {
                @if (pack.cycle_code === cycle.code) {
                <option [value]="pack.code">
                    {{ pack.name }}
                </option>
                }
                }
            </optgroup>
            }

        </select>
        }
        @if (types.length > 0) {
        <select name="type" id="type-select" [(ngModel)]="filters.type" (change)="onChangeTypeFilter($event)">
            <option value="all">All Types</option>
            @for(type of types; track type.code) {
            <option [value]="type.code">{{ type.name }}</option>
            }
        </select>
        }
        <div class="reset-icon" (click)="resetFilters()">
            <span class="material-symbols-rounded">refresh</span>
        </div>
        <app-ui-diagonal-line position="bottom-right"></app-ui-diagonal-line>
    </div>
    <div class="content-container">
        <div class="attribution-container" (click)="toggleAttribution()">
            @if(showAttribution) {
            <div class="attribution-text">
                Card images and data provided by <a href="https://netrunnerdb.com/" target="_blank"
                    rel="noopener noreferrer">NetrunnerDB</a>
            </div>
            }
            <span class="material-symbols-rounded">info</span>
        </div>
        <div class="action-controls">
            <div class="control-container" (click)="zoomRotation()">
                <span class="material-symbols-rounded">grid_view</span>
                Grid: {{ zoomLevel.replace('-', ' ') }}
            </div>
            <div class="control-container" (click)="sortRotation()">
                <span class="material-symbols-rounded">sort</span>
                Sort by: {{ sortBy }} (found: {{cards.length}})
            </div>
        </div>
        <div class="cards-container" [class.small-size]="zoomLevel === 'small-size'"
            [class.medium-size]="zoomLevel === 'medium-size'" [class.large-size]="zoomLevel === 'large-size'"
            [class.standard-size]="zoomLevel === 'standard-size'">
            @for(card of cards; track card.code) {
            <div class="card-item" (click)="onCardClick(card)"
                [class.selected-card]="selectedCard && selectedCard.code === card.code"
                [class.not-selected-card]="selectedCard && selectedCard.code !== card.code" [id]="card.code">
                <img loading="lazy" [src]="'https://card-images.netrunnerdb.com/v2/large/' + card.code + '.jpg'" alt="">
            </div>
            }
        </div>
        <div class="inspector-container" [class.empty-ispector]="!selectedCard">
            <!-- <p class="section-title">Inspector</p> -->
            @if (!selectedCard) {
            <span class="material-symbols-rounded">trackpad_input</span>
            <p>Select a card from the grid to inspect detail and actions.</p>
            } @else {
            @let c = selectedCard;
            <div class="inspector-header">
                <div class="code-container">{{c.code}}</div>
                <div class="set-label">{{c.pack_code | packCode: packs}} #{{c.position}}</div>
            </div>
            @if(c.type_code === 'identity') {

            <div class="identity-container identity-item">
                @if (c.uniqueness) {
                <span title="unique" class="material-symbols-rounded">stat_0</span>
                }
                <p class="section-title">{{c.title.split(':')[0]}}</p>
                <hr>
                <p>{{c.title.split(':')[1]}}</p>
            </div>
            } @else {
            <div class="identity-container">
                @if (c.uniqueness) {
                <span class="material-symbols-rounded">stat_0</span>
                }
                <p class="section-title">{{c.title}}</p>
            </div>
            }
            <p>
                <span class="type-label">{{c.type_code}}:</span>
                {{c.keywords}}
            </p>
            <!-- <p class="section-subtitle">Info</p> -->
            @if (c.base_link || c.base_link === 0) {
                <p>Link: {{c.base_link}}<span class="nr-icon nr-link"></span></p>
            }
            @if (c.minimum_deck_size && c.minimum_deck_size > 0) {
                <p>Minimum deck size: {{c.minimum_deck_size}}</p>
            }
            @if ((c.influence_limit && c.influence_limit > 0) || c.influence_limit === null) {
                <p>{{c.influence_limit ? 'Influence limit: ' + c.influence_limit : 'No influence limit'}}</p>
            }
            @if (c.cost || c.cost === 0) {
                <p>Cost: {{c.cost}}<span class="nr-icon nr-credit"></span></p>
            }
            @if (c.memory_cost || c.memory_cost === 0) {
                <p>Memory cost: {{c.memory_cost}}<span class="nr-icon nr-mu"></span></p>
            }
            @if (c.strength || c.strength === 0) {
                <p>Strength: {{c.strength}}</p>
            }


            <div class="effect-container">
                <p class="section-subtitle">Effect</p>
                <div class="card-text" [innerHTML]="c.text | nrIcons">
                </div>
                <div class="flavor-text">{{c.flavor}}</div>
            </div>
            @if (c.faction_cost && c.faction_cost > 0) {
                <p class="section-subtitle">Influence cost</p>
            <div class="faction-influence-container">
                <img [src]="'images/faction-icons/' + c.faction_code+ '.svg'" alt="">
                @for(fi of factionCostArray; track $index) {
                    @if (fi) {
                        <span class="material-symbols-rounded" >circle</span>
                    } @else {
                        <span class="material-symbols-rounded no-fill-icon">circle</span>
                    }
                }
            </div>
            }
            <p class="section-subtitle">Meta</p>
            @if (c.side_code) {
                <p>Side: {{c.side_code}}</p>
            }
            @if (c.deck_limit && c.deck_limit > 0) {
                <p>Deck limit: {{c.deck_limit}}</p>
            }
            @if (c.quantity && c.quantity > 0) {
                <p>Quantity per set: {{c.quantity}}</p>
            }
            <p class="section-subtitle">Illustrator</p>
            <p>{{c.illustrator}}</p>
            }
            <div class="actions-container">
                @if (selectedCard) {
                <app-ui-button text="Focus" icon="recenter" size="small" (click)="scrollToSelected()"></app-ui-button>
                <app-ui-button text="Zoom" icon="search" size="small" (click)="zoomCard()"></app-ui-button>
                <app-ui-button text="Translate" icon="translate" [disabled]="true" size="small"></app-ui-button>
                }
            </div>
        </div>
        <!-- <app-ui-diagonal-line position="bottom-right"></app-ui-diagonal-line> -->
    </div>
</div>

@if(selectedCard && cardZoomed) {
<div class="zoom-card-container">
    <div class="zoom-card-header">
        <p>Zoom</p>
        <span class="material-symbols-rounded" (click)="cardZoomed = false">close</span>
    </div>
    <div class="zoom-card-image">
        <img loading="lazy" [src]="'https://card-images.netrunnerdb.com/v2/large/' + selectedCard.code + '.jpg'" alt="">
    </div>
</div>
}