<app-ui-dialog-container i18n-dialogTitle dialogTitle="Settings">
    <p i18n class="p-subtitle">App information</p>
    <p i18n>Version: {{ appVersion }}</p>
    <p i18n class="p-note">Disclaimer: Novanet is an independent project and is not affiliated with, endorsed by, or
        associated with Fantasy Flight Games or Wizards of the Coast.
    </p>
    <p i18n class="p-subtitle">User options</p>
    @if (data.user) {
        <form class="form-container" [formGroup]="form">
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input i18n-placeholder="@@enterTextPlaceholder" type="text" id="nickname" formControlName="nickname"
                    placeholder="Enter text" autocorrect="off" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="customPhotoURL">Custom Profile Pic (URL)</label>
                <input i18n-placeholder="@@enterURLValidPlaceholder" type="text" id="customPhotoURL"
                    formControlName="customPhotoURL" placeholder="Enter a valid URL" autocorrect="off" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="customBackgroundURL">Custom Background (URL)</label>
                <input i18n-placeholder="@@enterURLValidPlaceholder" type="text" id="customBackgroundURL"
                    formControlName="customBackgroundURL" placeholder="Enter a valid URL" autocorrect="off" autocomplete="off">
            </div>
        </form>
    } @else {
        <p i18n>Please log in to change user options.</p>   
    }
    <p i18n class="p-subtitle">App options</p>
    <!-- <p>No app options at the moment.</p> -->
    <form [formGroup]="form" class="form-container">
        <div class="form-group">
            <div i18n class="label-container">Accent Color (apply only on dark mode) <span class="reset-span" (click)="resetColor()">[ Reset ]</span></div>
            <input i18n-placeholder type="color" id="customAccentColor" formControlName="customAccentColor" placeholder="Enter a valid color (e.g., #FF0000)" autocorrect="off" autocomplete="off">
        </div>
    </form>
    <div dialog-actions-container>
        @if(data.user && data.user.role === 'admin') {
            <a href="https://console.firebase.google.com/project/novanet-2026/overview" target="_blank" rel="noopener">
                <app-ui-button text="Firebase" icon="admin_panel_settings"></app-ui-button>
            </a>
        }
        <app-ui-button i18n-text="@@saveChangesButton" text="Save changes" icon="save" [disabled]="!form.valid || form.pristine" (click)="onSubmit()"></app-ui-button>
        <app-ui-button i18n-text="@@closeButton" text="Close" icon="close" (click)="dialogRef.close()"></app-ui-button>
    </div>
</app-ui-dialog-container>