.reset-span {
    display: block;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: var(--accent-color);
        transition: color 0.3s;
    }
}

select {
    width: 100%;
    font-size: 1rem;
    padding: 4px 8px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    height: 32px;
    cursor: pointer;
}