.deck-builder-page-main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 16px;

    &>section {
        display: flex;
        flex-direction: column;
        gap: 8px;

        min-height: 0;

        &>.section-header {
            background-color: var(--bg-container-color);
            border: 1px solid var(--accent-color);
            display: flex;
            align-items: center;
            gap: 8px;

            &>.header-content {
                padding: 12px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .actions-container {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &>.material-symbols-rounded {
                        cursor: default;
                    }

                    &>.material-symbols-rounded:hover {
                        cursor: pointer;
                        color: var(--accent-color);
                        transform: scale(1.2);
                        transition: color 0.3s, transform 0.3s;
                    }

                    &>p {
                        margin: 0;
                        text-transform: uppercase;
                        color: var(--accent-color);
                        animation: pulseAndGlow 3s infinite !important;
                        transform-origin: right;
                        cursor: default;
                        user-select: none;
                    }
                }


                h1 {
                    text-transform: uppercase;
                }
            }
        }

        &>.section-content {
            background-color: var(--bg-container-color);
            border: 1px solid var(--accent-color);
            flex-grow: 1;
            padding: 12px;
            display: flex;
            flex-direction: column;
            overflow: hidden; // giusto qui
        }

        &>.view-content {
            display: grid;
            grid-template-columns: 1fr 300px;
            gap: 16px;
        }
    }
}

.identity-container {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;

    img {
        width: 100%;
        border-radius: 4px;
    }

    &>.identity-info {
        &>.identity-title {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            gap: 8px;

            &>img {
                width: 24px;
                height: 24px;
            }
        }

        &>.identity-subtitle {
            font-style: italic;
            color: var(--accent-color);
            margin-bottom: 12px;
        }
    }
}

.side-line {
    width: 20px;
    background-color: var(--accent-color);
    height: 100%;
    background: repeating-linear-gradient(to right,
            var(--accent-color) 1px,
            var(--accent-color) 1px,
            transparent 4px,
            transparent 4px)
}

.zoom-card-container {
    position: absolute;
    top: 30%;
    left: 3%;
    border: 1px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    z-index: 3;
    opacity: 0;
    animation: fadeIn .3s forwards;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);

    &>.zoom-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--bg-color);
        padding: 0 4px;
        text-transform: uppercase;

        &>p {
            margin-left: 8px;
            font-weight: bold;
            animation: pulseAndGlowParagraph 2s infinite !important;
        }

        &>.material-symbols-rounded {
            cursor: pointer;
        }
    }

    &>.zoom-card-image {
        display: flex;
        background-color: var(--bg-color);
        padding: 4px;

        img {
            border: 1px solid var(--accent-color);
            border-radius: 16px;
        }
    }
}

select {
    width: 100%;
}

.filters-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 8px;
}

.card-form {
    margin-top: 8px;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr auto;
    gap: 8px;

    &>.material-symbols-rounded {
        cursor: pointer;
        height: 37px;
        width: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        background-color: var(--bg-color);

        &:hover {
            color: var(--bg-color);
            background-color: var(--accent-color);
            transition: 0.3s;
        }
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    height: 100%;
    overflow-y: auto;
    padding: 12px 0;

    &>.card-item {
        padding: 4px 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;

        img {
            height: 24px;
            width: 24px;
        }

        section {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &>.even-item {
        background-color: var(--bg-color);
    }
}

.form-container,
.filters-container {
    flex-shrink: 0;
}

.cards-container {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0; // FONDAMENTALE in flex/grid
}

@keyframes fadeIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulseAndGlow {
    0% {
        // transform: scale(1);
        text-shadow: none;
    }

    50% {
        // transform: scale(1.05);
        text-shadow: 0 0 8px var(--accent-color);
    }

    100% {
        // transform: scale(1);
        text-shadow: none;
    }
} 

.influence-dot {
    margin-right: 4px;
  font-size: 0.9em;
}