<div class="deck-builder-page-main-container">
    <section class="deck-view-container">
        <div class="section-header">
            <div class="side-line"></div>
            <div class="header-content">
                <span class="material-symbols-rounded" [routerLink]="['/decks']">arrow_back</span>
                <h1 i18n>Deck View "{{form.get('name')?.value}}"</h1>
                <div class="actions-container">
                    <p i18n>{{mode === 'edit' ? '[ Edit mode ]' : '[ View only ]'}}</p>
                </div>
            </div>
        </div>
        @if (deck) {
        <div class="section-content view-content">
            @if (deck.identity) {
            <section>
                <div class="identity-container" (click)="onCardClick(deck.identity)">
                    <img loading="lazy" [src]="'https://card-images.netrunnerdb.com/v2/large/' + deck.identity.code + '.jpg'" alt="">
                    <div class="identity-info">
                        <div class="identity-title">
                            @let identity = deck.identity;
                            @if (identity?.type_code === 'identity' && identity?.faction_code !== 'neutral-runner' && identity?.faction_code !== 'neutral-corp') {
                                <img class="faction-icon" [src]="'./images/faction-icons/' + identity?.faction_code+ '.svg'" alt="">
                            }
                            {{deck.identity.translations?.[locale]?.title!.split(':')[0] || deck.identity.title.split(':')[0]}}
                        </div>
                        <hr>
                        <div class="identity-subtitle">
                            {{deck.identity.translations?.[locale]?.title!.split(':')[1] || deck.identity.title.split(':')[1]}}
                        </div> 

                        <div class="progress-container">
                            <div class="progress-labels">
                                <p i18n>Deck size / minimum deck size</p>
                                <p>{{totalCards}} / {{deck.identity.minimum_deck_size}}</p>
                            </div>
                            <progress [value]="totalCards" [max]="deck.identity.minimum_deck_size" min="0"></progress>
                        </div>
                        <div class="progress-container">
                            <div class="progress-labels">
                                <p i18n>Influence / influence limit</p>
                                <!-- <p>{{totalInfluence}} / {{deck.identity.influence_limit}}</p> -->
                                <p>
                                    {{ selectedCards | checkInfluence: cardsMap : deck.identity.faction_code! }}
                                    /
                                    {{ deck.identity.influence_limit }}
                                </p>
                            </div>
                            <progress [value]="totalInfluence" [max]="deck.identity.influence_limit" min="0"></progress>
                        </div>
                        @if (deck.identity.side_code === 'corp') {
                            <p class="agenda-points-label">
                                <span i18n>Agenda points</span>
                                <span class="agenda-points-value">{{ selectedCards | checkAgendaPoints: cardsMap }}</span>
                            </p>
                        }
                    </div>
                </div>
                <p class="cards-container-title">
                    <span i18n>Cards</span>
                    <span i18n-title title="Export card list" class="material-symbols-rounded" (click)="exportCardList()">bottom_panel_open</span>
                </p>
                <div class="cards-container">
                    @for (entry of selectedCardsList; track entry.card.code) {
                        <div class="card-item" [class.even-item]="$even" (click)="selectCard(entry.card)">
                            <p class="card-item-title" >
                                <span
                                  class="material-symbols-rounded"
                                  (click)="$event.stopPropagation(); removeCard(entry.card.code)"
                                >
                                  delete
                                </span>
                                <span>x{{entry.qty}} {{entry.card.translations?.[locale]?.title || entry.card.title}}</span>
                            </p>
                            <section>
                                <span class="type-label">{{entry.card.type_code! | typeLabel}}</span>
                                @if (entry.card.faction_code !== deck.identity.faction_code && entry.card.faction_cost! > 0) {
                                    <span [innerHTML]="entry.card | dots: factions"></span>
                                }
                                @if (entry.card.faction_code !== 'neutral-runner' && entry.card.faction_code !== 'neutral-corp') {
                                    <img class="faction-icon" [src]="'./images/faction-icons/' + entry.card.faction_code+ '.svg'" alt="">
                                } @else {
                                    <span class="material-symbols-rounded no-faction-icon">remove</span>
                                }
                            </section>
                        </div>
                    } @empty {
                        <p i18n>No cards added yet.</p>
                    }
                </div>
            </section>
            <app-card-detail [selectedCard]="selectedCard" [disableMenu]="true" [disableCenter]="true" [packs]="packs" (zoomCardEmit)="onCardZoomEmitted($event)"></app-card-detail>
            }
        </div>
        }
    </section>
    <section class="deck-form-container">
        <div class="section-header">
            <div class="side-line"></div>
            <div class="header-content">
                <h1 i18n>Deck Builder</h1>
                <div class="actions-container">
                    <span class="material-symbols-rounded" (click)="importCardList()">bottom_panel_close</span>
                    <span class="material-symbols-rounded" (click)="saveDeck()">save</span>
                </div>
            </div>
        </div>
        <div class="section-content">
            <form class="form-container" [formGroup]="form">
                <div class="form-group">
                    <label i18n for="name">Deck name</label>
                    <input i18n-placeholder="@@enterTextPlaceholder" type="text" name="name" id="name" formControlName="name" placeholder="Enter text" autocorrect="off" autocomplete="off">
                </div>
                <div class="form-group">
                    <label i18n for="format-select">Format</label>
                    <select name="format" id="format-select" formControlName="format">
                        <option value="">Select format</option>
                        @for (f of formats; track $index) {
                            <option  [value]="f">{{f}}</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label i18n="@@identityLabel" for="identity-select">Identity</label>
                    <select name="identity" id="identity-select" formControlName="identity">
                        <option value="">Select identity</option>
                        @for (identity of identities; track $index) {
                            <option  [value]="identity.code">{{identity.translations?.[locale]?.title || identity.title}}</option>
                        }
                    </select>
                </div>
            </form>
            <form class="form-container card-form" [formGroup]="cardForm">
                <div class="form-group">
                    <label i18n for="card-input">Search Card</label>
                    <input #cardInputEl type="text" 
                        formControlName="cardInput" 
                        placeholder="Enter card name or code" 
                        autocorrect="off" 
                        autocomplete="off"
                        >
                </div>
                <span class="material-symbols-rounded" (click)="resetFilters()">refresh</span>
            </form>
            <div class="filters-container" [formGroup]="filtersForm">
                <select id="faction-select" formControlName="faction">
                    <option i18n value="all">All Factions</option>
                    @for (f of factions; track $index) {
                        <option  [value]="f.code">{{f.code | factionLabel}}</option>
                    }
                </select>
                <select id="pack-select" formControlName="pack">
                    <option i18n value="all">All packs</option>
                    @for(cycle of cycles; track cycle.code) {
                    <optgroup [label]="cycle.name">
                        @for (pack of packs; track pack.code) {
                        @if (pack.cycle_code === cycle.code) {
                        <option [value]="pack.code">
                            {{ pack.name }}
                        </option>
                        }
                        }
                    </optgroup>
                    }
                </select>
                <select id="type-select" formControlName="type">
                    <option i18n value="all">All Types</option>
                    @for (t of types; track $index) {
                        <option  [value]="t.code">{{t.name! | typeLabel }}</option>
                    }
                </select>
            </div>
            <div class="cards-container">
                @for (c of filteredCards; track c.code) {
                    <div class="card-item" [class.even-item]="$even">
                        <p class="card-item-title">
                            <span (click)="openAddCardDialog(c)" class="material-symbols-rounded">add</span>
                            <span (click)="selectCard(c)">{{c.translations?.[locale]?.title || c.title}}</span>
                        </p>
                        <section>
                            <span [innerHTML]="c | dots: factions"></span>
                            @if (c?.faction_code !== 'neutral-runner' && c?.faction_code !== 'neutral-corp') {
                                <img class="faction-icon" [src]="'./images/faction-icons/' + c?.faction_code+ '.svg'" alt="">
                            } @else {
                                <span class="material-symbols-rounded no-faction-icon">remove</span>
                            }
                        </section>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

@if(selectedCard && cardZoomed) {
<div class="zoom-card-container">
    <div class="zoom-card-header">
        <p>Zoom</p>
        <span class="material-symbols-rounded" (click)="cardZoomed = false">close</span>
    </div>
    <div class="zoom-card-image">
        <img loading="lazy" [src]="'https://card-images.netrunnerdb.com/v2/large/' + selectedCard.code + '.jpg'" alt="">
    </div>
</div>
}