.app-main-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;

    .app-page-container {
        flex: 1;
        overflow: auto;
    }
}


.notification-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    max-height: 100%;
    overflow: auto;
    padding: 8px;
    z-index: 5000;
    display: flex;
    flex-direction: column;
    gap: 8px;
}