.loading-page-main-container {
    position: fixed;
    inset: 0;
    z-index: 8888;
    display: flex;
    background-color: var(--bg-color);
    color: var(--fg-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 12px;

    &>p {
        width: 60%;
    }

    &>.loader-container {
        position: relative;
        width: 60%;
        height: 12px;
        border: 2px solid var(--accent-color);
        overflow: hidden;

        &>.loader-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--accent-color);
            animation: loadingAnimation 3s linear infinite;
        }

        &>.loader-progress-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            background-color: rgba(255, 255, 255, 0.5);
            animation: progressOverlayAnimation 3s linear infinite;
        }
    }
}

@keyframes loadingAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}