/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Genos', sans-serif;
  box-sizing: border-box;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */

  &:focus {
    outline: none;
    /* Remove default focus outline from everything */
  }
}

html,
body {
  height: 100%;
  margin: 0;

  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--fg-color);
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.no-fill-icon {
  font-variation-settings:
    'FILL' 0,
}

:root {
  // --fg-color: #ffffff;
  // --bg-color: #212121;
  --accent-color: #FCF552;

  --bg-container-color: #272931;

  --warn-color: orange;
  --error-color: crimson;
}

.light {
  --fg-color: #000000;
  --bg-color: #f0f0f0;
  --accent-color: #000;
  --bg-container-color: #e1e1e1;
}

.dark {
  --fg-color: #ffffff;
  --bg-color: #272931;
  --accent-color: #FCF552;
  --bg-container-color: #1B1C21;
}

// Text

p.p-subtitle {
  font-size: 1.1rem;
  color: var(--accent-color) !important;
  text-decoration: underline;
  margin-bottom: 16px;
}

p.p-note {
  font-size: 0.9rem !important;
  color: var(--fg-color);
  opacity: 0.7;
  margin-top: 16px;
}

// Dialogs

.dialog-container {
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-width: 600px !important;
  max-height: 650px !important;
}

.big-dialog-container {
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-width: 1000px !important;
  max-height: 800px !important;
}

.dialog-backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(39, 41, 49, 0.4);
}

div[dialog-main-container] {
  display: grid;
  grid-template-columns: 24px auto;
  position: relative;
  border: 1px solid var(--accent-color);

  div[dialog-side-line] {
    width: 100%;
    background-color: var(--accent-color);
    height: 100%;
    background: repeating-linear-gradient(to right,
        var(--accent-color) 1px,
        var(--accent-color) 1px,
        transparent 4px,
        transparent 4px)
  }

  div[dialog-content-container] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 600px;
    overflow-y: auto;
    position: relative;

    h1 {
      position: sticky;
      top: 0;
      background-color: var(--bg-color);
    }
  }

  div[dialog-actions-container] {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    position: sticky;
    bottom: 16px;
    margin-top: 16px;
    margin-right: 4px;
  }
}

// Links

a:has(app-ui-button) {
  text-decoration: none !important;
  color: inherit !important;
}

// Forms

form.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &>.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &>.label-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


}

// Input

input[type="text"], input[type="number"] {
  padding: 8px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--fg-color);

  &:focus {
    border-color: var(--fg-color);
  }
}

input[type="number"] {
  /* Remove default up and down arrow */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // &[type=number] {
  //   -moz-appearance: textfield;
  // }
}

input[type="color"] {
  width: 100%;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  padding: 8px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--fg-color);
  resize: vertical;

  &:focus {
    border-color: var(--fg-color);
  }
}

// NRIcons pipe

.nr-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;

  background-color: var(--fg-color);

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.nr-icon:not([class*="f-"]) {
  background-color: var(--fg-color);

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.nr-icon[class*="f-"] {
  background-color: transparent;
  mask: none;
  -webkit-mask: none;
  height: 16px;
  width: 16px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nr-agenda {
  mask-image: url('assets/images/game-icons/agenda.svg');
  -webkit-mask-image: url('assets/images/game-icons/agenda.svg');
}

.nr-archives {
  mask-image: url('assets/images/game-icons/archives.svg');
  -webkit-mask-image: url('assets/images/game-icons/archives.svg');
}

.nr-click {
  mask-image: url('assets/images/game-icons/click.svg');
  -webkit-mask-image: url('assets/images/game-icons/click.svg');
}

.nr-credit {
  mask-image: url('assets/images/game-icons/credit.svg');
  -webkit-mask-image: url('assets/images/game-icons/credit.svg');
}

.nr-hq {
  mask-image: url('assets/images/game-icons/hq.svg');
  -webkit-mask-image: url('assets/images/game-icons/hq.svg');
}

.nr-interrupt {
  mask-image: url('assets/images/game-icons/interrupt.svg');
  -webkit-mask-image: url('assets/images/game-icons/interrupt.svg');
}

.nr-link {
  mask-image: url('assets/images/game-icons/link.svg');
  -webkit-mask-image: url('assets/images/game-icons/link.svg');
}

.nr-mu {
  mask-image: url('assets/images/game-icons/mu.svg');
  -webkit-mask-image: url('assets/images/game-icons/mu.svg');
}

.nr-rd {
  mask-image: url('assets/images/game-icons/rd.svg');
  -webkit-mask-image: url('assets/images/game-icons/rd.svg');
}

.nr-recurring-credit {
  mask-image: url('assets/images/game-icons/recurring-credit.svg');
  -webkit-mask-image: url('assets/images/game-icons/recurring-credit.svg');
}

.nr-rez-cost {
  mask-image: url('assets/images/game-icons/rez-cost.svg');
  -webkit-mask-image: url('assets/images/game-icons/rez-cost.svg');
}

.nr-subroutine {
  mask-image: url('assets/images/game-icons/subroutine.svg');
  -webkit-mask-image: url('assets/images/game-icons/subroutine.svg');
}

.nr-trash-cost {
  mask-image: url('assets/images/game-icons/trash-ability.svg');
  -webkit-mask-image: url('assets/images/game-icons/trash-ability.svg');
}

.nr-trash-local {
  mask-image: url('assets/images/game-icons/trash-local-cost.svg');
  -webkit-mask-image: url('assets/images/game-icons/trash-local-cost.svg');
}

.f-adam {
  background-image: url('assets/images/faction-icons/adam.svg');
}

.f-anarch {
  background-image: url('assets/images/faction-icons/anarch.svg');
}

.f-apex {
  background-image: url('assets/images/faction-icons/apex.svg');
}

.f-criminal {
  background-image: url('assets/images/faction-icons/criminal.svg');
}

.f-hb {
  background-image: url('assets/images/faction-icons/haas-bioroid.svg');
}

.f-jinteki {
  background-image: url('assets/images/faction-icons/jinteki.svg');
}

.f-nbn {
  background-image: url('assets/images/faction-icons/nbn.svg');
}

.f-shaper {
  background-image: url('assets/images/faction-icons/shaper.svg');
}

.f-sunny {
  background-image: url('assets/images/faction-icons/sunny.svg');
}

.f-weyland {
  background-image: url('assets/images/faction-icons/weyland-consortium.svg');
}