.add-card-main-container {
    display: grid;
    // gap: 16px;
    // width: 100%;
    height: 356px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.card-detail-container {
    overflow-y: auto;
    min-height: 0;

    &>app-card-detail {
        height: 350px;
    }
}

img {
    width: auto;
    height: 350px;
    border-radius: 12px;
}